* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --inner-width: 20vw;
  --inner-width-mobile: 65vw;
  --card-radius: 25px;
  --shadow: 0px 10px 25px 2px hsl(225, 34%, 81%);
  /* Colors */
  --card-back: hsl(225, 100%, 98%);
  --background: hsl(225, 100%, 94%);
  --button: hsl(245, 75%, 52%);
  --button-hover: hsl(245, 67%, 62%);
  --link: hsl(245, 75%, 52%);
  --text: hsl(223, 47%, 23%);
}
/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
#container {
  font-family: "Red Hat Display", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  display: grid;
  justify-items: center;
  align-items: center;
}
#wave {
  width: 100%;
  margin-top: -700px;
}
#order-summary {
  position: absolute;
  width: 27vw;
  height: 43vw;
  background-color: var(--card-back);
  border-radius: var(--card-radius);
  display: grid;
  justify-items: center;
  box-shadow: var(--shadow);
  grid-template-rows: 15vw 5vw 6vw 8vw 4vw;
}
#title {
  font-size: 2vw;
  font-weight: 900;
  color: var(--text);
}

p {
  font-size: 1.2vw;
  color: #a7a7a7;
}
#hero-img {
  border-top-left-radius: var(--card-radius);
  border-top-right-radius: var(--card-radius);
  width: 100%;
}
#copy {
  margin-top: -2%;
  width: var(--inner-width);
  text-align: center;
}
#plan-title {
  font-size: 1vw;
  font-weight: 900;
  color: var(--text);
}
#plan {
  width: var(--inner-width);
  height: 6vw;
  border-radius: 5px;
  background-color: hsl(226, 100%, 97%);
  display: grid;
  grid-template-columns: 6vw 7vw 6vw;
  justify-items: center;
  align-items: center;
}
#music-icon {
  width: 3.5vw;
  height: 3.5vw;
}
#change {
  font-size: 1vw;
  font-weight: 700;
  color: var(--link);
  text-decoration: underline;
  margin-left: 30%;
  cursor: pointer;
}
#change:hover {
  text-decoration: none;
}
#payment,
#cancel {
  width: var(--inner-width);
  height: 65px;
  background-color: var(--button);
  box-shadow: var(--shadow);
  font-size: 1vw;
  font-weight: 500;
  color: var(--background);
  border-radius: 0.5vw;
  border: none;
  cursor: pointer;
}
#payment {
  position: relative;
}
#cancel {
  background-color: var(--card-back);
  color: var(--text);
  box-shadow: none;
}
#payment:hover {
  background-color: var(--button-hover);
}

@media (hover: none), (pointer: coarse) {
  #order-summary {
    width: 87vw;
    height: 80vh;
    grid-template-rows: 26vh 10vh 12vh 15vh 8vh;
  }
  /* "#D6E1FF" */
  #wave {
    margin-top: -500px;
    content: url("images/pattern-background-mobile.svg");
  }
  #title {
    font-size: 7vw;
  }
  #plan-title {
    font-size: 14px;
  }
  #copy {
    width: var(--inner-width-mobile);
    font-size: 15px;
    font-weight: 500;
  }
  #plan {
    width: var(--inner-width-mobile);
    height: 70px;
    grid-template-columns: 30% 30% 40%;
  }
  #music-icon {
    width: 11vw;
    height: 11vw;
  }
  p {
    font-size: 16px;
  }

  #change {
    font-size: small;
    margin-left: 30%;
  }

  #payment,
  #cancel {
    height: 50px;
    width: var(--inner-width-mobile);
    font-size: 15px;
    font-weight: 900;
  }
}
